<!DOCTYPE html>
<html>
<head>
    <title>Schedule Daily Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reminder.css') }}">
</head>
<body>
   <div class="container">
        <h2>Add Daily Reminder</h2>
        <form action="/add_reminder" method="POST">
            <label for="device_id">Device ID:</label>
            <input type="text" name="device_id" required>

            <label for="scheduled_time">Scheduled Time (HH:MM):</label>
            <input type="time" name="scheduled_time" required>

            <label for="reminder_type">Reminder Type:</label>
            <input type="text" name="reminder_type" placeholder="e.g., Medicine, Walk" required>

            <button type="submit">Add Reminder</button>
        </form>
    </div>
</body>
</html>
